table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
}
table, th,td{
    border: 1px solid black;
}

th,td{
    padding: 10px;
    text-align: center;
}

.tabla{
    margin: 185px 300px 185px 300px;
}