*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: #ECB176;
}
.header{
    background-color:rgb(148, 87, 59);
    display: flex; /* es para justificar como queremos tratar un bloque (flexible)*/
    justify-content: space-between; /*Separa la imagen del nav*/
    align-items: center;
    height: 80px;
    padding: 10px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 80px;
    width: auto;
    transition: all 0.3s;
    border-radius: 400px;
}

.header .logo img:hover{
    transform: scale(1.2);

}

.header .nav-links li{
    display: inline-block; /*Este es para alinear los navs*/
    padding: 0 20px;
    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 70;
    color: white;
    text-decoration: none;
    
}

.header .nav-links li a:hover{
    color:black
}



.titulo1{
    margin-left: 110px;
    font-size: 30px;
}

.titulo2{
    margin-left: 200px;
    font-size: 30px;
}

.titulo3{
    margin-left: 100px;
    font-size: 30px;
}

.titulo4{
    margin-left: 200px;
    font-size: 30px;
}

section {
    margin: 10px 30px 60px 50px;
    padding:30px;
    display: flex;
    align-content: space-between;
}

.videos1{
    margin-left: 100px;
}

.videos1 .vide1{
    margin-right: 140px;
}

.videos2{
    margin-left: 100px;
}

.videos2 .vide3{
    margin-right: 140px;
}


.footer{
    margin-top: 60px;
}


.footer{
    background-color:rgb(148, 87, 59);
    padding: 40px 40px;
    align-self: flex-end;
}